<!DOCTYPE html>
<html lang="ru">
  {% load static %}
  <head>
    <title>Заказ {{ order.id }}</title>
    <script src="{% static 'js/payScript.js' %}"></script>
  </head>
  <body>
    <h1>Номер заказа: {{ order.id }}</h1>
    <ul>
        {% for i in order.items.all %}
            <li>
                {{ i.item.name }} - {{ i.quantity }} шт. * {{ i.item.price }} {{ i.item.currency }} = {{ i.total }} {{ i.item.currency }}
            </li>
        {% endfor %}
    </ul>
    <p>Итого: {{ order.total_amount }}</p>
    <button id="buy-button" data-pay-type="order" data-id ="{{ order.id }}">Оплатить заказ</button>
  </body>
</html>
